In [ ]:
# 1.1
a = 5
b = 6
print(f"The square of the hypotenuse is {a**2 + b**2}")

The square of the hypotenuse is 61

In [4]:
# 1.1
a = 10
b = 12
print(f"The square of the hypotenuse is {a**2 + b**2}")

The square of the hypotenuse is 244

In [ ]:
# 1.2
university_variable = "TheUniversityOfManchesterFacultyofBiologyMedicineAndHealth"
sub_string_1 = university_variable[3:13]
sub_string_2 = university_variable[15:25]

print(sub_string_1 + ' ' + sub_string_2)

University Manchester

In [23]:
# 1.2
DNA_seq = """GCTGAGACTTCCTGGACGGGGGACAGGCTGTGGGGTTTCTCAGATAACTGGG
CCCCTGCGCTCAGGAGGCCTTCACCCTCTGCTCTGGGTAAAGTTCATTGGAACAGAAAGAAATGG
ATTTATCTGCTCTTCGCGTTGAAGAAGTACAAAATGTCATTAATGCTATGCAGAAAATCTTAGAG
TGTCCCATCTGTCTGGAGTTGATCAAGGAACCTGTCTCCACAAAGTGTGACCACATATTTTGCAA
ATTTTGCATGCTGAAACTTCTCAACCAGAAGAAAGGGCCTTCACAGTGTCCTTTATGTAAGAATG
ATATAACCAAAAGGAGCCTACAAGAAAGTACGAGATTTGAT"""
subDNA1 = DNA_seq[137:143]
subDNA2 = DNA_seq[274:280]

print(subDNA1 + subDNA2)

TTGAAGACCAGA